
body {
    background-color: orange ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.playerHouses {
    border: 5px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.houseCount {
    border: 4px solid blue;
    border-radius: 5px;
    min-height: 40px;
    text-align: center;
    font-size: 30px;
}

.p1 {
    background-color: teal;
}

.p1TextColor {
    color: teal;
}

.p2 {
    background-color: brown;
}

.p2TextColor {
    color: brown;
}

h1 {
    text-align: center;
}

#currentPlayer {
 font-size: 30px;
}

#gameContainer {
    background-color: white;
    border: 10px grey solid;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.leftHouseLand {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10px auto 10px;
}


.otherHouseLand {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.hWall {
    width: 100%;
    height: 10px;
}

.vWall {
    width: 10px;
    height: 100%;
}

.wall:hover {
    background-color: darkgray;
}

/* .p1Wall {
    background-color: teal;
}

.p2Wall {
    background-color: brown;
} */

.house {
    width: 100%;
    min-height: 100px;
}

.buttons {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    margin: 10px;
    border: 2px gray solid;
    /* min-width: 100px;
    max-width: 200px;
    min-height: 40px;
    max-height: 80px; */
    min-width: 150px;
    max-height: 30px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    top: -1px;
    right: -1px;
    background-color: gray;
    font-size: 25x;

}

#clearButton {
    color: red;
}
#clearButton:hover {
    color: brown;
}

/* .p1House {
    background-color: teal;
}

.p2House {
    background-color: brown;
} */

/* .house:before {
    display: block;
    position: absolute;
    content:'';
    border-top:10px solid white;
    border-bottom:10px solid white;
    height:calc(100% - 20px);
    top:0;
    width: calc(100% - 20px);
    left:10px;
 }
 .house:after {
    display: block;
    position: absolute;
    content:'';
    border-right:10px solid white;
    border-left:10px solid white;
    height:calc(100% - 20px);
    width: calc(100% - 20px);
    top:10px;
    left: 0;
 } */

/*
main {
    max-width: 70%;
    text-align: center;
    align-self: center;
}

.soundBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .soundBoard {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.sbItem {
    border: 2px solid grey;
    min-width: 100px;
    min-height: 100px;
    
}

.sbItem a {
    display: block;
    width: 100%;
    height: 100%;
}

.sbItem a:hover {
    color: orange;
}

.song {
    text-decoration: none;
    text-align: center;
    line-height: 100px;
}

.dpHead {
    background-image: url("../images/head.gif");
    background-size: cover;
    animation: shake 1s forwards infinite;

}

.dpHead a {
    animation: blink 0.5s forwards infinite;
}

@keyframes blink {
    0% {
        color: blue;
    }
    33% {
        color: purple;
    }
    66% {
        color: goldenrod;
    }
    100% {
        color: red;
    }
}

@keyframes shake {
    0% {
        background-position: 50% 50%;
    }
    33% {
        background-position: 50% 40%;
    }
    66% {
        background-position: 40% 40%;
    }
    100% {
        background-position: 50% 50%;
    }
} */